{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "useTabs": false,
    "semi": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
}
